<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2 th:inline="text">Hello, [[${#httpServletRequest.remoteUser}]]!</h2>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<hr>

<h3>Add Message</h3>

<form method="post" th:action="@{main}">
    <input type="text" name="text" placeholder="Text"/>
    <input type="text" name="tag" placeholder="Tag"/>
    <input type="submit" th:value="Save"/>
    <input type="reset" th:value="Reset"/>
</form>

<hr>

<h3>Filter</h3>

<form method="post" th:action="@{filter}">
    <input type="text" name="tag" placeholder="Tag"/>
    <input type="submit" th:value="Filter"/>
    <input type="reset" th:value="Reset"/>
</form>

<hr>

<h3>Message List:</h3>
<table>
    <thead>
    <tr>
        <th> Id</th>
        <th> Text</th>
        <th> Tag</th>
        <th> Author</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="message : ${messages}">
        <td><b th:text="${message.id}"> Id </b></td>
        <td><span th:text="${message.text}"> Text </span></td>
        <td><i th:text="${message.tag}"> Tag </i></td>
        <td><span style="color: red" th:text="${message.author.getUsername()}"> Author </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>